# Build files
/_*
.merlin
*.install
/node_modules

# Parser files
*.conflicts
*.automaton
*messages_complete.txt

.#*

# Dune lock folder. Probably shouldn't ignore this, but it's also bit large and
# I'd rather not include it.
/dune.lock/
/dev-tools.locks/

