pin-depends: [
  # Progress, to allow using latest mtime.
  ["progress.dev" "git+https://github.com/craigfe/progress#709e1e2b12f4f74dd2c8823dde274dcd0ac35142"]
  ["terminal.dev" "git+https://github.com/craigfe/progress#709e1e2b12f4f74dd2c8823dde274dcd0ac35142"]
  # co-http, to ensure we're on the latest eio version
  ["cohttp.dev" "git+https://github.com/mirage/ocaml-cohttp#11c8f54c7b0db55e740b1eb93dadb69b0950cf7d"]
  ["cohttp-eio.dev" "git+https://github.com/mirage/ocaml-cohttp#11c8f54c7b0db55e740b1eb93dadb69b0950cf7d"]
  ["http.dev" "git+https://github.com/mirage/ocaml-cohttp#11c8f54c7b0db55e740b1eb93dadb69b0950cf7d"]
]
